<div class="container-fluid mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{'active': c}">
          <a class="nav-link" (click)="cargar(1)">Clientes</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': p}">
          <a class="nav-link" (click)="cargar(2)">Productos</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': o}">
          <a class="nav-link" (click)="cargar(3)">Ordenes</a>
        </li>
      </ul>
    </div>
  </nav>  
</div>
<div class="container-fluid">
  <app-clientes *ngIf="c"></app-clientes>
  <app-productos *ngIf="p"></app-productos>
  <app-ordenes *ngIf="o"></app-ordenes>
</div>