<div class="card" *ngIf="!cargando">
    <div class="card-header">
        <h4 class="text-center text-light">Administración de Ordenes</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <b>Indicaciones: </b> Para poder modificar o eliminar una orden de click en la fila deseada.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#orden" (click)="cargarForm()">Nueva Orden</button>
            </div>
        </div>
        <table class="table table-striped mt-3">
            <thead class="thead-dark">
                <th>ID</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>cantidad</th>
                <th>Total</th>
                <th>Fecha</th>
            </thead>
            <tbody> 
                <tr class="elemento" *ngFor="let o of ordenes" (click)="cargar(o.id)" data-toggle="modal" data-target="#orden">
                    <td>{{o.id}}</td>
                    <td>{{o.cliente}}</td>
                    <td>{{o.producto}}</td>
                    <td>{{o.cantidad}}</td>
                    <td>${{o.total | number:'1.2-2'}}</td>
                    <td>{{o.fecha}}</td>
                </tr>          
            </tbody>
        </table>
    </div>
</div>
<div class="text-center" *ngIf="cargando">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
    <h1>Cargando</h1>
</div>

<div class="modal fade" id="orden" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-light" id="staticBackdropLabel">{{(save)? 'Agregar Orden' : 'Modificar Orden'}}</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Indicaciones: </strong> 
                <ul>
                    <li>Los campos con <b>*</b> son obligatorios</li>
                    <li>Los campos <b>cantidad, total</b> son campos numericos</li>
                    <li>Al no cumplir las validaciones no se podra guardar la nueva</li>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <form [formGroup]="orden">
                <div class="form-group">
                    <label>ID:<b class="text-danger">*</b></label>
                    <input type="text" class="form-control" formControlName="id" [readonly]="!save">
                </div>
                <div class="form-group">
                    <label>Cliente:<b class="text-danger">*</b></label>
                    <select class="form-control" formControlName="idCliente">
                        <option *ngFor="let c of clientes" value="{{c.id}}">{{c.nombre}} {{c.apellidos}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Producto:<b class="text-danger">*</b></label>
                    <select class="form-control" formControlName="idProducto" (change)="cargarTotal($event)">
                        <option *ngFor="let p of productos" value="{{p.id}}">{{p.nombre}}</option>
                    </select>
                </div>                
                <div class="form-group">
                    <label>Cantidad:<b class="text-danger">*</b></label>
                    <input type="number" class="form-control" formControlName="cantidad" (change)="cargarTotal($event,1)">
                </div>
                <div class="form-group">
                    <label>Total:<b class="text-danger">*</b></label>
                    <input type="text" class="form-control" formControlName="total" readonly>
                </div>
                <div class="form-group">
                    <label>Fecha:<b class="text-danger">*</b></label>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
            </form>
        </div>
        <div class="modal-footer" *ngIf="save">
            <button type="button" class="btn btn-outline-success" (click)="guardar()" [ngClass]="{'disabled': orden.invalid}">Agregar</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>          
        </div>
        <div class="modal-footer" *ngIf="!save">
            <button type="button" class="btn btn-outline-warning" (click)="modificar()" [ngClass]="{'disabled': orden.invalid}" data-dismiss="modal">Modificar</button>
            <button type="button" class="btn btn-outline-danger" (click)="eliminar()" data-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>          
        </div>
      </div>
    </div>
  </div>